doctype
html
    head
        include partials/_meta
        link(rel="stylesheet" href="/main.css")
    body
        block content
            !=yield
        block scripts
            include partials/_blazy

    
